.container {
    min-height: 100vh;
    transition: 1s;
    display: flex;
    flex-direction: column;
    gap: 24px;

    &__sections {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__section {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}

@media (min-width: $window-width-m) {
    .container{
        gap: 32px;

        &__sections {
            gap: 32px;
        }

        &__section {
            gap: 24px;
        }
    }
}

@media (min-width: $window-width-x) {
    .container{
        transform: translateX(320px);
        width: 1120px;

        &__sections {
            gap: 50px;
        }
    }
}