.expand-button{
    width: min-content;
    font-family: "TTLakes-Medium";
    position: relative;
    border: none;
    background-color: transparent;
    white-space: nowrap;
    font-size: $text-size-m;
    line-height: $line-height-m;
    font-weight: 500;
    letter-spacing: -0.2px;
    padding-left: $padding-x;
    padding-top: $padding-s;
    cursor: pointer;
    transition: 0.3s;
}
.expand-button::before{
    content: "";
    position: absolute;
    left: 0;
    height: 24px;
    width: 24px;
    background-image: url("../img/expand.svg");
}
.expand-button:hover{
    color: $color-button;
}
.expand-button--disabled{
    display:none;
}
.expand-button--open::before{
    transform: rotate(180deg);
}

@media (min-width: $window-width-m) {
    .expand-button{
        padding-top: $padding-m;
    }
}