.form{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-family: "TTLakes-Medium";
}

.form__elem{
    padding: 12px $padding-s;
    background: $color-background;
    border: 1px solid $color-border;
    border-radius: 8px;
    font-size: $text-size-m;
    line-height: $line-height-m;
    letter-spacing: -0.2px;
    color: $color-bullet-active;
}

.form__elem--hidden {
    display: none;
}

.form__elem:focus{
    border-color: $color-border-hover;
}

.form__text{
    font-size: $text-size-s;
    line-height: $line-height-s;
    color: $color-text-lighter;
}
.form__link{
    color: $color-text-attention;
}

.form__button{
    align-self: flex-end;
    width: min-content;
    bottom: 16px;
    right: 16px;
    font-family: "TTLakes-Bold";
    text-transform: uppercase;
    padding: 4px 40px 4px 12px;
    border: none;
    border-radius: 16px;
    background: $color-button;
    font-size: $text-button;
    line-height: 24px;
    letter-spacing: -0.15px;
    color: $color-button-text;
    transform: scale(1);
    transition: 0.3s;
}
.form__button:hover{
    transform: scale(1.05);
}
.form__button::after{
    content: "";
    position: absolute;
    padding-left: $padding-s;
    width: 24px;
    height: 24px;
    background: url("../img/dropdown-white.svg") no-repeat 50% 50%;
}
