.main-title{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__wrapper {
        border: 4px solid transparent;
        border-left: 4px solid $color-border-title;
        padding-left: 12px;
    }

    &__text {
        font-family: "TTLakes-Bold";
        font-size: $text-size-xl;
        letter-spacing: -0.6px;
        line-height: $line-height-xl;
        margin: 0;
    }
}

@media (min-width: $window-width-m) {
    .main-title__wrapper{
        padding-left: 20px;
    }
}

@media (min-width: $window-width-x) {
    .main-title{
        padding-top: $padding-m;

        &__wrapper {
            padding-left: 28px;
        }
    }
}