.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__group {
        display: flex;
        align-items: center;
        gap: 16px;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 16px;

        &--disabled {
            display: none;
        }
    
        &--divider::before {
            content: "";
            display: block;
            width: 2px;
            height: 32px;
            border-radius: 1px;
            background-color: $color-divider;
        }

        &--divider:nth-child(2)::before {
            display: none;
        }
    }

    &__link{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $color-button;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    &__button {
        display: block;
        width: 40px;
        height: 40px;
        cursor: pointer;
        border: none;
        border-radius: 50%;
        background: $color-button;
        background-repeat: no-repeat;
        background-position: center;
    }
    
    
    &__link--burger {
        background-image: url(../img/burger.svg);
    }
    &__link--group {
        width: 96px;
        height: 50px;
        border-radius: 0;
        background-color: #FFFFFF;
        background-image: url(../img/group.svg);
    }
    &__link--call {
        background-image: url(../img/call.svg);
    }
    &__link--chat {
        background-image: url(../img/chat.svg);
    }
    &__link--profile{
        background-image: url(../img/profile.svg);
    }
    &__link--repair {
        background-image: url(../img/repair.svg);
    }
    &__link--check {
        background-image: url(../img/check-status.svg);
    }
    
    &__link--burger-exit {
        background-image: url(../img/burger-exit.svg);
    }
    
    &__link--search {
        background-image: url(../img/search.svg);
    }
    
    &__link:hover{
        color: $color-button;
    }
    &__link:hover .menu__icon{
        background: #ffc6d0;
    }
    
    &__icon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $color-button;
    }
    
    &__text{
        font-family: "TTLakes-Medium";
        font-size: $text-size-m;
        line-height: 40px;
        letter-spacing: -0.2px;
        font-weight: 500;
        color: $color-text;
    }
    
}

.main-title .menu{
    display: none;
}

.side-menu__contacts .menu{
    justify-content: flex-start;
    gap: 16px;
}

@media (min-width: $window-width-m) {
    .menu__item--divider:nth-child(2)::before{
        display: block;
    }
}

@media (min-width: $window-width-x) {
    .main-title .menu{
        display: flex;
        margin: 0;
        gap: 32px
    }
    
    .menu__link{
        gap: 8px;
    }
}