.swiper{
    width: 100%;
}
.swiper::after{
    content: "";
    position: absolute;
    right: 0px;
    bottom: 0;
    height: 100%;
    width: 24px;
    background: linear-gradient(270deg, $color-body 16.84%, rgba(248, 248, 248, 0.0001) 100%);
    z-index: 10;
}

.swiper-wrapper{
    padding: 0 $padding-s;
}

.swiper-pagination{
    position: static;
    padding-top: $padding-s;
}
.swiper-pagination-bullet{
    width: 12px;
    height: 12px;
    background: $color-bullet;
    opacity: 1;
}
.swiper-pagination-bullet-active{
    background: $color-bullet-active;
}

@media (min-width: $window-width-m) {
    .swiper{
        width: auto;
        padding: 0 $padding-m;

        &::after {
            display: none;
        }
    }
    .swiper-wrapper{
        padding: 0;
    }

    .repair-wrapper{
        flex-wrap: wrap;
        gap: 16px 24px;
        width: auto;
        max-height: 164px;
        overflow: hidden;
        transition: max-height 1s;
    }

    .repair-slide{
        width: 224px;
    }

    .swiper-pagination{
        display: none;
    }
}

@media (min-width: $window-width-x) {
    .swiper{
        padding: 0 $padding-x;
        margin: 0;
    }

    .repair-wrapper{
        width: auto;
        gap: 16px 32px;
    }
    
    .repair-slide{
        width: 240px;
    }
}