.navigation{
    position: relative;
}
.navigation::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 40px;
    width: 24px;
    background: linear-gradient(270deg, $color-body 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

.navigation__list{
    display: flex;
    align-items: center;
    padding: 0 $padding-s;
    overflow-x: auto;
    overflow-y: hidden;
}
.navigation__list::-webkit-scrollbar{
    height: 0;
}

.navigation__item{
    border: 2px solid transparent;
    border-radius: 6px;
    padding: 8px $padding-s;
}
.navigation__item:hover{
    background-color: $color-background;
    border-color: $color-border-hover;
}

.navigation__link{
    font-family: "TTLakes-Medium";
    display: block;
    font-size: $text-size-m;
    line-height: $line-height-m;
    letter-spacing: -0.2px;
    white-space: nowrap;
    color: $color-text-lighter;
}

@media (min-width: $window-width-m) {
    .navigation__list{
        padding: 0 $padding-m;
    }
}

@media (min-width: $window-width-x) {
    .navigation::after{
        display: none;
    }
    
    .navigation__list{
        flex-wrap: wrap;
        padding: 0 $padding-x;
    }
}