* {
    margin: 0;
    padding: 0;
}

html{
    background-color: $color-html;
}

body{
    font-family: "TTLakes-Regular";
    color: $color-text;
    letter-spacing: -0.2px;
}

header{
    background-color: $color-background;
    border-bottom: 1px solid $color-border-divider;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

footer{
    margin-top: auto;
    border-top: 1px solid $color-border-divider;
}
textarea{
    resize: none;
}


@media (min-width: $window-width-x) {
    header{
        display: none;
    }
}