$color-body:            #F8F8F8;
$color-html:            #F2F2F2;
$color-text:            #1B1C21;
$color-text-lighter:    #7E7E82;
$color-text-attention:  #FF3E79;
$color-border:          #EAEAEA;
$color-border-title:    #41F6D7;
$color-border-hover:    #B8FFEC;
$color-border-divider:  #D9FFF5;
$color-background:      #FFFFFF;
$color-button:          #FF3E79;
$color-button-text:     #FFFFFF;
$color-bullet:          #DDDDDD;
$color-bullet-active:   #B5B6BC;
$color-divider:         #EAEAEA;

$text-size-s:           14px;
$text-size-m:           16px;
$text-size-x:           24px;
$text-size-xl:          28px;
$text-button:           12px;

$line-height-s:         18px;
$line-height-m:         24px;
$line-height-x:         32px;
$line-height-xl:        32px;
$line-height-button:    24px;

$padding-s:             16px;
$padding-m:             24px;
$padding-x:             32px;

$margin-s:              16px;
$margin-m:              24px;
$margin-x:              32px;

$window-width-m:        768px;
$window-width-x:        1440px;
